CONFIG_STATIC=y
CONFIG_BUSYBOX=y
CONFIG_DESKTOP=y
CONFIG_LONG_OPTS=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=y
CONFIG_FEATURE_DEVPTS=y
CONFIG_LFS=y
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
CONFIG_FEATURE_KILL_REMOVED=y
CONFIG_HALT=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_CMDCMD=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
CONFIG_CAT=y
CONFIG_LS=y
CONFIG_PWD=y
CONFIG_ECHO=y
CONFIG_PRINTF=y
CONFIG_TEST=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_MKDIR=y
CONFIG_TOUCH=y
CONFIG_RM=y
CONFIG_CP=y
CONFIG_CMP=y
CONFIG_MV=y
CONFIG_LN=y
CONFIG_CHMOD=y
CONFIG_SLEEP=y
CONFIG_SYNC=y
CONFIG_UNAME=y
CONFIG_ID=y
CONFIG_WHOAMI=y
CONFIG_MOUNT=y
CONFIG_SWITCH_ROOT=y
CONFIG_UMOUNT=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_FEATURE_MOUNT_FSTAB=y
CONFIG_PS=y
CONFIG_KILL=y
CONFIG_DMESG=y
CONFIG_GREP=y
CONFIG_HEAD=y
CONFIG_FEATURE_FANCY_HEAD=y
CONFIG_TAIL=y
CONFIG_WC=y
CONFIG_TAR=y
CONFIG_FEATURE_SEAMLESS_GZ=y
CONFIG_SHA256SUM=y
CONFIG_FLOCK=y
CONFIG_READLINK=y
CONFIG_IFCONFIG=y
CONFIG_FEATURE_IFCONFIG_STATUS=y
CONFIG_ROUTE=y
CONFIG_UDHCPC=y
CONFIG_UDHCPC_DEFAULT_SCRIPT="/usr/share/udhcpc/default.script"
CONFIG_PING=y
CONFIG_FEATURE_FANCY_PING=y
CONFIG_WGET=y
CONFIG_CTTYHACK=y
CONFIG_SETSID=y
